*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: lightblue;
  width: 100%;
}

.nav__tnw,
.nav__tnw-left ul,
.nav__tnw-right ul,
.nav__latest,
.nav__latest-left ul,
.nav__latest-right {
  display: flex;
}
.nav__tnw-link:hover {
  color: #fff;
}

.nav__tnw,
.nav__latest {
  justify-content: space-between;
}

.nav__tnw {
  height: 3.3rem;
  background-color: black;

  align-items: center;
}

.nav__tnw-left ul {
  justify-content: space-around;
  list-style: none;
  margin-left: 1.5rem;
}

.nav__tnw-link {
  color: #959595;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  font-weight: bold;
}

.nav__tnw-right ul {
  margin-right: 1.5rem;
  list-style: none;
}

.nav__latest {
  height: 6.6rem;
  background-color: white;
  border: 1px solid red;
  align-items: center;
}

.nav__latest-left {
  flex: 0 0 55%;
  cursor: pointer;
}

.nav__latest-left ul {
  list-style: none;
  justify-content: space-around;
}

.nav__latest-right {
  margin-right: 3rem;
  height: 6.6rem;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  border-left: 1px solid #959595;
  cursor: pointer;
}

.fa-search {
  color: grey;
  transform: rotate(90deg);
  font-size: 2rem;
}

.nav__latest_link {
  text-decoration: none;
  color: #d5d5d5;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__latest_link:first-child {
  margin-left: 2rem;
}

.nav__latest_link:hover {
  color: #333;
}

.tech {
  display: flex;
  background-color: yellow;
  align-items: center;
  height: 3.3rem;
  cursor: pointer;
}

.tech span {
  margin-left: 1.5rem;
  font-size: 1.45rem;
}

.grid {
  margin-top: 0.5rem;
  width: 100%;
  height: 47rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.4rem;
}

.grid__first {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  border: 1px solid red;
  background: black;
}

.grid__first-text {
  margin: 20rem 0 0 1rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 23rem;
}

.grid__first-text h3 {
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.grid__first-text span {
  color: white;
  font-size: 5.5rem;
  font-weight: bold;
}

.grid__first-text h5 {
  color: white;
  font-size: 1.3rem;
}

.grid__second {
  grid-row: 1;
  grid-column: 3;
  border: 1px solid red;
  background: black;
}

.grid__third {
  grid-row: 2;
  grid-column: 3;
  border: 1px solid red;
  background: black;
}