*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header: #ff4422;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: lightblue;
  width: 100%;
}

.grid__first-text h3,
.grid__second-text h3,
.nav__latest_link {
  text-transform: uppercase;
}

.nav__tnw,
.nav__tnw-left ul,
.nav__tnw-right ul,
.nav__latest,
.nav__latest-left ul,
.nav__latest-right {
  display: flex;
}
.nav__tnw-link:hover {
  color: #fff;
}

.nav__tnw,
.nav__latest {
  justify-content: space-between;
}

.nav__tnw {
  height: 3.3rem;
  background-color: black;
  align-items: center;
}

.nav__tnw-left ul {
  justify-content: space-around;
  list-style: none;
  margin-left: 1.5rem;
}

.nav__tnw-link {
  color: #959595;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  font-weight: bold;
}

.nav__tnw-right ul {
  margin-right: 1.5rem;
  list-style: none;
}

.nav__latest {
  height: 6.6rem;
  background-color: white;
  border: 1px solid red;
  align-items: center;
}

.nav__latest-left {
  flex: 0 0 55%;
  cursor: pointer;
}

.nav__latest-left ul {
  list-style: none;
  justify-content: space-around;
}

.nav__latest-right {
  margin-right: 3rem;
  height: 6.6rem;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  border-left: 1px solid #959595;
  cursor: pointer;
}

.fa-search {
  color: grey;
  transform: rotate(90deg);
  font-size: 2rem;
}

.nav__latest_link {
  text-decoration: none;
  color: #d5d5d5;
  font-size: 1.4rem;
  font-weight: bold;
}

.nav__latest_link:first-child {
  margin-left: 2rem;
}

.nav__latest_link:hover {
  color: #333;
}

.tech {
  display: flex;
  background-color: yellow;
  align-items: center;
  height: 3.3rem;
  cursor: pointer;
}

.tech span {
  margin-left: 1.5rem;
  font-size: 1.45rem;
}

.grid {
  margin-top: 0.5rem;
  width: 100%;
  height: 55rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.4rem;
}

.grid__first {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/kayleighmcenany-796x419.jpg');
  background-size: cover;
}

.grid__first-title {
  width: 95%;
  margin: 3.5rem auto 0;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.grid__first-title svg {
  width: 48rem;
}

.grid__first-date {
  color: white;
  font-weight: bold;
}

.grid__first-text {
  margin: 3rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 90%;
  color: white;
}

.grid__first-text h3 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 0.4rem;
}

.grid__first-text span {
  color: white;
  font-size: 6rem;
  font-weight: bold;
}

.share__details-first {
  color: #9e9b9a;
  display: flex;
  width: 27%;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.grid__second {
  grid-row: 1;
  grid-column: 3;
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/psychedelic-796x419.png');
  background-size: cover;
}

.grid__second-text {
  width: 90%;
  margin: 5.5rem auto 0rem auto;
  display: flex;
  color: white;
  flex-direction: column;
}

.grid__second-text h3 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 0.4rem;
}

.second-text__header {
  font-size: 3.1rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  padding-bottom: 1rem;
}

.share__details {
  color: #9e9b9a;
  display: flex;
  width: 45%;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.author__title {
  text-decoration: none;
  color: inherit;
}

.grid__third {
  grid-row: 2;
  grid-column: 3;
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/PlayStation-5-DualSense-796x417.jpg');
}

/* Latest Articles */

.main-container {
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
}

.latest {
  background-color: #fff;

  margin-top: 8rem;
}

.latest__header {
  font-size: 3.6rem;
  padding: 2rem 0;
  font-weight: 800;
}

.latest__header a {
  text-decoration: none;
  color: #ff4422;
}

.latest__grid {
  display: grid;
  height: 70rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.latest__grid-items {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.latest__article-image {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Untitled-design56-516x270.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}
.latest__article-title {
  padding: 1rem 0;
  text-align: justify;
  width: 100%;
}
.latest__article-title a {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.latest__article-title a:hover {
  color: #ff4422;
  text-decoration-color: #ff4422;
}

.latest__article-details {
  color: #aaa;
}

.latest__article-image-one {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/index-ventures-money-516x270.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-two {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/man-4957154_1280-473x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-three {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/man-4957154_1280-473x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-four {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/disney-3865667_1920-480x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-five {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/sale_27631_primary_image_wide-540x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-six {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/sale_27479_primary_image_wide-1-540x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-seven {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/1-14-516x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

/* Funding  */

.funding {
  margin-top: 4rem;
}

.funding__index-container,
.funding__options {
  display: flex;
}

.funding__index-container {
  align-items: center;
  justify-content: space-between;
}

.options {
  padding: 0 1rem;
}

.options:not(:last-child) {
  border-right: 2px solid var(--header);
}

.options a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--header);
}

.funding__companies {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.companies__container {
  height: 25rem;
  flex: 0 0 27%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.companies__container-header {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.companies__container-name {
  background-color: var(--header);
  display: flex;
  align-items: center;
}

.companies__container-name a {
  color: white;
  padding: 1rem;
  font-weight: bold;
  margin: 0 auto;
  text-decoration: none;
}

.companies__container-money {
  padding: 1rem;
  width: 100%;
  background-color: #ffebe8;
  text-align: center;
}

.companies__container-money h4 {
  margin: 0.5rem auto 0.2rem;
  font-size: 1.8rem;
  color: black;
}

.companies__container-money h5 {
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
}

.companies__container-image {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.companies__container-image img {
  width: 5.5rem;
}

.companies__container-tags {
  background-color: #fffaf8;
  padding: 2rem 2rem;
  border-bottom: 1px solid #ffccc3;
}
.tag {
  padding: 1rem;
  font-size: 1.8rem;
}

.fa-tag,
.fa-briefcase {
  margin-right: 0.5rem;
}

.companies__container-details {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #fffaf8;
}
.details-name {
  padding: 1rem 0;
}
