*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header: #f42;
  --text: #4d4d4d;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #f42;
}

body {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: lightblue;
  width: 100%;
}

.grid__first-text h3,
.grid__second-text h3,
.nav__latest_link {
  text-transform: uppercase;
}

.nav__tnw,
.nav__tnw-left ul,
.nav__tnw-right ul,
.nav__latest,
.nav__latest-left ul,
.nav__latest-right {
  display: flex;
}

.nav__tnw-link {
  color: #959595;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  font-weight: bold;
}

.nav__tnw-link:hover {
  color: #fff;
}

.nav__tnw,
.nav__latest {
  justify-content: space-between;
}

.nav__tnw {
  height: 3.3rem;
  background-color: black;
  align-items: center;
}

.nav__tnw-left ul {
  justify-content: space-around;
  list-style: none;
  margin-left: 1.5rem;
}

.news {
  color: white;
}

.nav__tnw-right {
  margin-right: 1.5rem;
  list-style: none;
}

.nav__latest {
  height: 6.6rem;
  background-color: white;
  align-items: center;
}

.nav__latest-left {
  flex: 0 0 75%;
  cursor: pointer;
}

.nav__latest-left ul {
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.nav__latest-link {
  padding: 2rem;
}

.nav__latest_left ul li {
  flex: 1;
}

.nav__latest-right {
  flex: 0 0 5%;
  height: 6.6rem;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #959595;
  cursor: pointer;
}

.bar {
  display: none;
}

.nav__logo-container {
  background-color: red;
  height: inherit;
  padding: 2rem 1rem 2rem 1rem;
}

.nav__logo-container:hover {
  background-image: url('https://media.giphy.com/media/3DsNP07nApt1eEyjvM/giphy.gif');
  background-size: cover;
}

.nav__logo {
  width: 10rem;
}

.fa-search {
  color: grey;
  transform: rotate(90deg);
  font-size: 2rem;
}

.nav__latest_link,
.nav__latest_logo {
  text-decoration: none;
  color: #d5d5d5;
  font-size: 1.4rem;
  font-weight: bold;
}

.nav__latest_link:hover {
  color: #333;
}

.tech {
  display: flex;
  background-color: yellow;
  align-items: center;
  height: 3.3rem;
  cursor: pointer;
}

.tech span {
  margin-left: 1.5rem;
  font-size: 1.45rem;
}

.fixed__container {
  position: fixed;
  width: 100%;
  z-index: 9990;
  top: 0;
  left: 0;
}

.grid {
  margin-top: 13.5rem;
  width: 100%;
  height: 55rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.4rem;
}

.grid__first {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background-image:
    linear-gradient(
      180deg,
      rgba(255, 0, 0, 0.883),
      rgba(29, 28, 28, 0.849) 60%,
      rgb(0, 0, 0) 100%
    ),
    url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/kayleighmcenany-796x419.jpg');
  background-size: cover;
}

.grid__first-title {
  width: 95%;
  margin: 3.5rem auto 0;
  display: flex;
  justify-content: space-between;
}

.grid__first-title svg {
  width: 48rem;
}

.grid__first-date {
  color: white;
  font-weight: bold;
}

.grid__first-text {
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 90%;
  color: white;
}

.grid__first-text h3 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 0.4rem;
}

.grid__first-text span {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}

.grid__second {
  grid-row: 1;
  grid-column: 3;
  background-image:
  linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/psychedelic-796x419.png');
  background-size: cover;
}

.grid__second-text {
  width: 90%;
  margin: 5.5rem auto 0 auto;
  display: flex;
  color: white;
  flex-direction: column;
}

.grid__second-text h3 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 0.4rem;
}

.second-text__header {
  font-size: 2.8rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  padding-bottom: 1rem;
}

.share__details {
  color: #9e9b9a;
  display: flex;
  width: 85%;
  margin-bottom: 1rem;
  
}

.share__details > * {
  padding-right: 1.5rem;
}

.author__title {
  text-decoration: none;
  color: inherit;
}

.grid__third {
  grid-row: 2;
  grid-column: 3;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/PlayStation-5-DualSense-796x417.jpg');
}

/* Latest Articles */
.main-container {
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
}

.fa-chevron-right {
  font-size: 2.5rem;
  margin-left: 0.5rem;
}

.black:hover {
  color: black;
  cursor: pointer;
}

.footer__logo-circle {
  margin-right: 1.4rem;
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: 100%;
  background-color: #333;
  color: white;
}

.footer__logo-circle:hover {
  cursor: pointer;
  background-color: black;
}

.latest {
  background-color: #fff;
  margin-top: 8rem;
}

.latest__header {
  font-size: 3.6rem;
  padding: 2rem 0;
  font-weight: 800;
}

.latest__header a {
  text-decoration: none;
  color: #f42;
}

.latest__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.latest__grid-items {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.common__image {
  margin-bottom: -8px;
  height: 0;
  display: block;
  overflow: hidden;
  padding-top: 50%;
}

.latest__article-image {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Untitled-design56-516x270.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.latest__article-title {
  padding: 1rem 0;
  text-align: justify;
  width: 100%;
}

.latest__article-title a {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.options a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--header);
}

.companies__container-name a {
  color: white;
  padding: 1rem;
  font-weight: bold;
  margin: 0 auto;
  text-decoration: none;
}

.articles__latest-text a {
  text-decoration: none;
  color: var(--header);
  font-size: 1.3rem;
  font-weight: bold;
}

.footer__name a {
  text-transform: uppercase;
  color: white;
}

.article__title a {
  color: var(--text);
  font-size: 1.5rem;
}

.footer__events li a {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.latest__article-title a:hover {
  color: #f42;
  text-decoration-color: #f42;
}

.latest__article-details {
  color: #aaa;
}

.latest__article-image-one {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/index-ventures-money-516x270.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-two {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/man-4957154_1280-473x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-three {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/man-4957154_1280-473x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-four {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/disney-3865667_1920-480x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-five {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/sale_27631_primary_image_wide-540x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-six {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/sale_27479_primary_image_wide-1-540x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

.latest__article-image-seven {
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/1-14-516x270.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 62%;
}

/* Funding  */
.funding {
  margin-top: 4rem;
}

.funding__index-container,
.funding__options {
  display: flex;
}

.funding__index-container {
  align-items: center;
  justify-content: space-between;
}

.options {
  padding: 0 1rem;
}

.options:not(:last-child) {
  border-right: 2px solid var(--header);
}

.funding__companies {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 35rem;
}

.companies__container {
  height: 25rem;
  flex: 0 0 27%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.companies__container-header {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.companies__container-name {
  background-color: var(--header);
  display: flex;
  align-items: center;
}

.companies__container-money {
  padding: 1rem;
  width: 100%;
  background-color: #ffebe8;
  text-align: center;
}

.companies__container-money h4 {
  margin: 0.5rem auto 0.2rem;
  font-size: 1.8rem;
  color: black;
}

.companies__container-money h5 {
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
}

.companies__container-image {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.companies__container-image img {
  width: 5.5rem;
}

.companies__container-tags {
  background-color: #fffaf8;
  padding: 2rem 2rem;
  border-bottom: 1px solid #ffccc3;
}

.tag {
  padding: 1rem;
  font-size: 1.8rem;
}

.fa-tag,
.fa-briefcase {
  margin-right: 0.5rem;
}

.companies__container-details {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #fffaf8;
}

.details-name {
  padding: 1rem 0;
}

/* Articles Grid Section */
.articles__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.articles__container {
  background-color: white;
  height: 75rem;
}

.articles__container h1 {
  background-color: white;
  color: var(--header);
  padding-bottom: 1rem;
}

.articles__image {
  height: 30rem;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/blogpost-header-v02-796x341.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles__latest {
  width: 100%;
  height: 9rem;
  background-color: #fff4f2;
  display: flex;
  align-items: center;
}

.articles__latest-text {
  padding: 1rem;
  width: 80%;
}

.articles__latest-text h3 {
  text-transform: uppercase;
  color: var(--header);
  font-size: 1.4rem;
}

.articles__latest-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Artboard-2@2x-100.jpg);
  width: 30%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.article__list {
  width: 85%;
  margin: 3rem 1.5rem;
}

.article__title {
  padding: 1rem;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
}

.article__title::before {
  content: '';
  background-color: var(--header);
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  left: -1rem;
  top: 40%;
}

.articles__image-text {
  height: 100%;
  padding: 18rem 0 0 2rem;
}

.articles__image-text h4 {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.articles__image-title {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.articles__image-author {
  font-size: 1.4rem;
  color: grey;
  text-decoration: none;
}

.articles__image-date {
  font-size: 1.3rem;
  color: grey;
}

.latest__deals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deals {
  font-size: 1.6rem;
}

.latest__deal-image {
  background-image: url('https://bit.ly/3c3FmbG');
  background-size: cover;
  height: 80%;
  position: relative;
}

.discount {
  text-decoration: line-through;
}

.offer__tag {
  background-color: yellow;
  position: absolute;
  width: 10rem;
  height: 10rem;
  right: 0;
  top: 0;
  padding-top: 8rem;
  padding-left: 3rem;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  transform: rotate(-90deg);
}

.number {
  transform: rotate(135deg);
  margin-top: -4rem;
  text-align: center;
  padding: 0.3rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.one {
  background-image: url('https://cdnp1.stackassets.com/cba31166b47b2c151d94a8397c4aa0604771f268/store/04b44dd5593f2a7c175e4dd48292fe76d560b9c1c0536d03345aa8c50141/sale_18367_primary_image.jpg');
}

.two {
  background-image: url(https://cdnp2.stackassets.com/9257668fcaee11d85700e41e6f0885af53444764/store/c3e91210d1e14fad0bbd67762249ba37d7293eff10e62c29ed5b6c368248/sale_27001_primary_image.jpg);
}

.three {
  background-image: url(https://cdnp0.stackassets.com/b71a35933bfff2f4b68162cdd15511d4c852028e/store/213bde39c7285726394c4afed207d57cfd6bf224453c2c0edbfc12a448e8/sale_24208_primary_image.jpg);
}

.four {
  background-image: url(https://cdnp0.stackassets.com/0799bf00352de2d2111fa7580a4aeb4d5e36829c/store/831574f40ca85b498631ae2881f81d02cd9eedd411afd5c0c8f689969ad6/sale_19040_primary_image.jpg);
}

.five {
  background-image: url(https://cdnp3.stackassets.com/91269f67479c8ba9b50a1afd8c9895a43faed8bb/store/68076d638abc4b1c252b05e65253424957f0ff9549c7bd37b82b975620a8/sale_27020_primary_image.jpg);
}

.six {
  background-image: url(https://cdnp1.stackassets.com/a4a04dbdfa33745ffe1eadfe357643683d4fff9e/store/d8dbd9630bd4d7226a9604c67b90e36eb94c412d5be18e4bbabb19aba4f9/sale_27009_primary_image.jpg);
}

.seven {
  background-image: url(https://cdnp3.stackassets.com/600275c367415b9343a9b4812472fa05f7db59a8/store/dd972578f03549a52ceaac3644e38a3ee41cc83aef912816935d031e21d2/sale_14198_primary_image.jpg);
}

.footer {
  width: 100vw;
  height: 24rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.footer__container {
  height: 60%;
  width: 100vw;
  background-color: #131313;
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.footer__events {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.footer__events li {
  list-style: none;
  margin-right: 2rem;
  color: #9d9d9d;
}

.footer__copyright {
  background-color: #000;
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9d9d9d;
}

.logo {
  width: 4rem;
}

.first {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url(https://bit.ly/2Vc8vuk);
}

.second {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url(https://bit.ly/3c26l7s);
}

.third {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url(https://bit.ly/2VgmIXi);
}

.fourth {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url(https://bit.ly/3cbFlmf);
}

.fifth {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url(https://bit.ly/2VdG0ww);
}

.sixth {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url(https://bit.ly/3aZNmKL);
}

.seventh {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(36, 37, 36, 0.801),
      rgba(37, 37, 37, 0.51)
    ),
    url(https://bit.ly/2yQZU98);
}


@media screen and (max-width: 1024px) {
  .companies__hidden {
    display: none;
  }

  .funding__companies {
    width: 100%;
  }

  .latest__header {
    font-size: 2.3rem;
    padding-top: 10rem;
    font-weight: 800;
  }

  .nav__latest-left {
    flex: 0 0 80%;
  }

  .latest__grid { 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .companies__container {
    flex: 1;
  }

  .articles__grid {
    grid-template-columns: 1fr 1fr;
  }

  .funding__index-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 3rem;
  }
}


@media screen and (max-width: 768px) {
  .nav__tnw {
    display: none;
  }

  .nav__latest_link {
    display: none;
  }

  .footer__logo-circle {
    margin-right: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 100%;
    background-color: #333;
    color: white;
  }

  .footer__logo {
    flex-wrap: wrap;
  }
  

  .nav__latest-right {
    flex: 0 0 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .main-container {
    margin-top: 10rem;
  }

  .articles__grid {
    grid-template-columns: 1fr;
  }

  .bar {
    display: flex;
    flex: 0 0 50%;
    font-size: 1.6rem;
    color: var(--text);
    border-left: 1px solid green;
    height: inherit;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .tech {
    height: 6rem;
    text-align: center;
  }

  .tech span {
    margin: 0 auto;
  }

  .grid {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-top: 12rem;
  }

  .grid__first {
    grid-column: 1;
    grid-row: 1;
  }

  .grid__first-title {
    display: none;
  }

  .grid__first-text {
    padding-top: 8rem;
  }

  .grid__first-text span {
    font-size: 2.5rem;
  }

  .share__details-first {
    margin-top: 2.5rem;
    width: 50%;
  }

  .grid__second {
    grid-column: 1;
    grid-row: 2;
  }

  .grid__second-text a {
    font-size: 2.2rem;
  }

  .share__details .author__title,
  .share__time {
    font-size: 1rem;
  }

  .grid__third {
    grid-row: 3;
    grid-column: 1;
  }

  .second-text__header {
    font-size: 2.5rem;
  }

  .latest__grid {
    grid-template-columns: 1fr;
  }

  .latest__grid-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 7.2rem;
    position: relative;
  }

  .latest__article-image,
  .latest__article-image-one,
  .latest__article-image-two,
  .latest__article-image-three,
  .latest__article-image-four,
  .latest__article-image-five,
  .latest__article-image-six,
  .latest__article-image-seven {
    grid-column: 1;
    grid-row: 1 / span 2;
    padding-top: 10px;
    height: 100%;  
  }

  .latest__article-title,
  .latest__article-details {
    grid-column: 2 / span 4;
    padding-left: 1rem;
  }

  .latest__header a {
    font-size: 2.8rem;
  }

  .funding__index-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .funding__options {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .options {
    padding: 1rem;
  }

  .options:not(:last-child) {
    border-right: none;
  }

  .funding__companies {
    flex-direction: column;
    height: 80rem;
    width: 100%;
    margin-bottom: 10rem;
  }

  .companies__hidden {
    display: none;
  }

  .latest__deals-details {
    grid-column: 2;
    grid-row: 2;
    padding-left: 1rem;
  }

  .offer__tag {
    display: none;
  }

  .latest__deal-image {
    height: 100%;
    grid-row: 1 / span 2;
  }

  .latest__header .deals {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .footer {
    height: auto;
  }

  .footer__copyright {
    text-align: center;
    font-size: 1rem;
    padding: 3rem 0;
  }
  .footer__events {
    flex-wrap: wrap;
  }

  .footer__events li a {
    font-size: 1.2rem;
  }
  
}
